
<div class="container top-30">

  <div class="row">


    <div class="col-md-3">

      <label for="termi">Artist Searcher</label>
      <input [(ngModel)]="termi"
      type="text" name="termi"
      class="form-control"
      (keyup) = "searchArtist()"
      placeholder="search by artist">
      <hr>
    </div>

    <div class="col-md-9">

      <div class="row">
        <div class="col-md-3 text-center puntero"
            [routerLink]="['/artist', artist.id]"
             *ngFor="let artist of _SpotifyService.artists" >
          <img [src]="artist.images[1]?.url | nophoto" [alt]="artist.name" class="img-fluid img-thumbnail" >
          <p>
            {{ artist.name }}
          </p>
          <hr>
        </div>
      </div>

    </div>

  </div>

</div>
